.hero {
    height: 800px;
    padding: 120px 100px;
    font-family: Aller;
}

.textGrad {

}



/* .hero {
    width: 100%;
    position: relative;
    display: flex;
}


.heroImage {
    height: 100%;
    width: 100%;
    background-image: url(../assets/images/hero/coding.jpg);
    background-position: center center;
    background-size: cover;
    opacity: 0.3;
    z-index: -2;
    position: absolute;
    filter: saturate(0);
}

.heroContainer {
    padding: 60px 100px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.me {
    width: 60%;
}

.aboutMe {
    text-align: right;
}

h1 {
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 8vw;
    line-height: 1;
    margin-top: 6vw;

    background: -webkit-linear-gradient(to right, rgb(150, 255, 176), rgb(230, 104, 255));
    background: -moz-linear-gradient(to right, rgb(150, 255, 176), rgb(230, 104, 255));
    background: -o-linear-gradient(to right, rgb(150, 255, 176), rgb(230, 104, 255));
    background: linear-gradient(to right, rgb(150, 255, 176), rgb(230, 104, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h2 {
    font-size: 2.04vw;
    margin-top: -1vw;
    font-family: Microsoft Yi Baiti;
}

.hero .buttons {
    display: flex;
    gap: 2vw;
    justify-content: right;
}

.hero a {
    font-family: Aller;
    padding: 0.3vw 1vw;
    border: 4px solid;
    border-image: linear-gradient(to right, rgb(150, 255, 176), rgb(230, 104, 255)) 1;
    font-size: calc(0.5vw + 10px);
    transition: color 0.1s ease-out, background-color 0.2s ease-out;
}

.hero a:hover {
    color: black;
    background-color: white;
    border: 4px white solid;
} */