.hero {
    width: 100%;
    height: 80vh;
    padding: 0 100px;
    position: relative;
    display: flex;
    align-items: center;
}

.heroImage {
    height: 100%;
    width: 100%;

    background-position: center center;
    background-size: cover;
    opacity: .6;
    filter: saturate(1.2);
    z-index: -1;
    position: absolute;
}

.aboutMe {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;

}

h1 {
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 140px;
    line-height: 1;
}